* {
    margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
/* Header section Large screen styling */
.header{
    height: 1434px;
    width:100%;
    background-image: url(images/Header-llustration-desktop@2x.png);
    background-size: contain;
   background-repeat: no-repeat;
   
}
.menu-list {
    display: flex;
    justify-content: center;
}
.list-items {
    padding: 20px;
    list-style: none;
}
.list-items a {
    text-decoration: none;
    color: #172B4D
}
.mobile-nav{
    /*Do  not display mobile navigation on large devices */
    display: none;
}

/* Header section small screen styling */
@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
        justify-content: space-between;
    }
    .header{
    width:630px;
    height: 648px;
    top: 98.12px;
    left: -126.38px;
    background-image: url(images/header-illsutration-mobile@2x.png);
    background-repeat: no-repeat;
    }
    
    .mobile-logo {
 
    }

}